main {
    margin: 0;
    padding-top: 1px;
    font-size: 1.125rem;
    height: 100vh;
  }
  h1{
   font-style: italic;
   letter-spacing: 0.2em;
  }
  button{
    border: solid white;
    color: white;
    background-color: #eb7530;
    font-family: monospace;
    padding: 0.5em 0.5em 0.5em 0.5em;
    text-transform: uppercase;
  }
  #readmore{
    font-size: 0.9em;
    color: white;
    font-weight: bold;
    letter-spacing: 0.2em;
  }
  button :hover{
    text-decoration: underline;
  }
  h1,
  h2,
  h3,
  article, p {
    padding-top: 0;
  }
  
  .borderDecoration {
    border: 5px solid #eb7530;
    box-shadow: -15px 20px 0px black;
  }
  
  .main {
    padding: 0 40px 40px;
    width: 50vw;
    max-width: 800px;
    margin: 2.5rem auto;
    
  }
  
  .main .title {
    font-family: 'Space Mono', Monaco, Courier New, Courier, monospace;
    margin: 50px 0;
    font-size: 2rem;
    max-width: 700px;
    /* border: 1px 1px 5px 5px solid black; */
    padding: 0 0 10px 20px;
  }
  
  .meta {
    font-weight: bold;
    color: grey;
    margin-bottom: 40px;
    font-style: 'Saigon Sans';
  }
  
  .author,
  .date {
    color: #eb7530;
    font-family: 'Saigon Sans';
  }
  
  .main img {
    width: 100px;
    height: 100px;
    margin: 0 20px 10px 1px;
    float: left;
    border: 5px solid white;
  }
  
  .post > article {
    margin: 0 0 40px;
    width: 100%;
    overflow: auto;
    max-width: 1080px;
    padding: 10px;
    background-color: #eb7530;
    color: white;
    font-family: 'Space Mono';
  }
  .post article::after {
    content: "";
    clear: both;
    display: table;
  }
  img{
    filter: grayscale(100%) contrast(130%);
  }
  #featuredbanner{
    margin-top: 1em;
    margin-bottom: 1.5em;
    padding: 0.5em 0.5em 0.5em 0.5em;
    font-size: 2.5em;
    text-align: center;
    font-weight: bold;
    font-family: 'Space Mono';
    border: 4px solid #eb7530;
    transform: translateY(10%) translateX(1%);
    box-shadow: -10px 15px 0px black;
  }
  #submenulink {
  font-size: 1em;
  padding: 1em 1em 1em 1em;
  color: black;
  border:2px solid #eb7530;
  
  }
  #submenulink>a:hover{
    text-decoration: underline;
  }
/* footer code bc the external css i made didnt work with the java so this is a quick fix, i wanted it to be sticky */
footer{
  width: 90%;
  border: white 3px solid;
  background-color: black;
  padding: 1em 1em 1em 1em;
  list-style: none;
  text-align: center;
  text-decoration: none;
  font-size: 1.5em;
margin-left: 2em;
  box-shadow: -17px 19px 0px 2px #eb7530;
-webkit-box-shadow: -17px 19px 0px 2px #eb7530;
-moz-box-shadow: -17px 19px 0px 2px #eb7530;
transform: translateY(200%);

}
#foot-links{
  display: inline-flex;
}
.fa{
  background: black;
  color: white;
  padding: 1em 1em 1em 1em;
}
.fa:hover {
  border:#eb7530 2px solid;
  border-radius: 100%;
}
#copy{
  font-size: 0.7em;
  color: rgba(240, 248, 255, 0.507);
  font-family: 'Space Mono';
}
#quicklinks{
  display: inline-flex;
  list-style: none;
  color: white;
  font-family: 'Space Mono';
  font-size:0.5em;
  padding: 1em 1em 1em 1em;
}
.quicks{
  padding: 1em 1em 1em 1em;
  font-size: 1em;
  color: white;
  font-family: 'Space Mono';
}
.quicks:hover{
  color: #eb7530;
}
    