.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0em 0em;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    "bannerpic bannerpic bannerpic bannerpic"
    "getreading getreading getreadingtext getreadingtext"
    "bp1 bp2 bp3 bp4"
    "clientqt clientqt clientqt clientimg"
    "mailerform mailerform mailerform mailerform";
  width: 100%;
  height: 100%;
  margin-top: 1em;
  border: solid black;

}

.bannerpic { 
  grid-area: bannerpic; 
  
}
#buycopy{
  transform: translateY(-300%);
  
}
#buytxt{
  color: #eb7530;
  font-size: 2em;
  letter-spacing: 0.2em;

}
#buybutton{
  border: solid #eb7530;
  color: #eb7530;
  font-size: 20px;
  padding: 0em 1em 0em 1em;
  z-index: 2;

}
#buybutton :hover{
  background-color: #919191;
}

#thestar{
  width: 100%;
z-index: 1;
-webkit-transform: scaleX(-1);
transform: scaleX(-1);
border: 4px solid #eb7530;
box-shadow: 18px 18px 0px 0px rgba(0,0,0,1);
-webkit-box-shadow: 18px 18px 0px 0px rgba(0,0,0,1);
-moz-box-shadow: 18px 18px 0px 0px rgba(0,0,0,1);
}

.getreading { 
  grid-area: getreading;
transform: translateX(20%) translateY(-50%);
}
  .tarotpic{
   width: 15em;
   border: 5px solid #eb7530;
   box-shadow: -18px 18px 0px 0px rgb(243, 128, 20);
-webkit-box-shadow: -18px 18px 0px 0px rgba(243, 128, 20);
-moz-box-shadow: -18px 18px 0px 0px rgba(243, 128, 20)
  }
  .decopng{
    width: 20em;
    transform: translateX(-30%) translateY(-50%);
  }

.getreadingtext { 
  grid-area: getreadingtext; 
  transform: translateY(-70%) translateX(-20%);
  border: 5px solid #eb7530;
   box-shadow: -18px 18px 0px 0px rgb(0, 0, 0);
-webkit-box-shadow: -18px 18px 0px 0px rgb(0, 0, 0);
-moz-box-shadow: -18px 18px 0px 0px rgb(0, 0, 0);
text-align: center;
background: #ee864c;
background: radial-gradient(circle farthest-side at center center, #ee864c 0%, #ffffff 70%);
background: -webkit-radial-gradient(circle farthest-side at center center, #ee864c 0%, #ffffff 70%);
background: -moz-radial-gradient(circle farthest-side at center center, #ee864c 0%, #ffffff 70%);
}
#bookinglink{
  font-size: 1.5em;
  border: 2px solid black;
  padding: 0em 1em 0em 1em;

}
#blogimg{
width: 18em;
height: 10em;
overflow: hidden;
filter: grayscale(100) contrast(110%);

}
#bloglinks{
font-size: 1em;
border: solid black;
padding: 0em 1em 0em 1em;
color: color;
}
#bloglinks a:hover{
text-decoration: underline;
}
.bp1 {
   grid-area: bp1;
margin-left: 2em ;
margin-right: 2em;
   transform: translateY(-30%);
   border: #eb7530 solid 3px;
   box-shadow: -13px 13px 0px 0px rgba(0,0,0,1);
   -webkit-box-shadow: -13px 13px 0px 0px rgba(0,0,0,1);
   -moz-box-shadow: -13px 13px 0px 0px rgba(0,0,0,1);
   padding: 1em 1em 2em 1em;
   }

.bp2 {
   grid-area: bp2; 
   margin-left: 5em ;
   margin-right: 5em;
   transform: translateY(-30%);
   border: #eb7530 solid 3px;
   box-shadow: -13px 13px 0px 0px rgba(0,0,0,1);
   -webkit-box-shadow: -13px 13px 0px 0px rgba(0,0,0,1);
   -moz-box-shadow: -13px 13px 0px 0px rgba(0,0,0,1);
   padding: 1em 1em 2em 1em;
  }

.bp4 {
   grid-area: bp4;
   margin-left: 2em ;
margin-right: 2em;
   transform: translateY(-30%);
   border: #eb7530 solid 3px;
   box-shadow: -13px 13px 0px 0px rgba(0,0,0,1);
   -webkit-box-shadow: -13px 13px 0px 0px rgba(0,0,0,1);
   -moz-box-shadow: -13px 13px 0px 0px rgba(0,0,0,1);
   padding: 1em 1em 2em 1em;
  }

.clientqt {
   grid-area: clientqt;
  margin-left: 5em;
  transform: translateY(-120%);
  border: #eb7530 solid 3px;
  box-shadow: -20px 20px 0px 0px rgba(0,0,0,1);
  -webkit-box-shadow: -20px 20px 0px 0px rgba(0,0,0,1);
  -moz-box-shadow: -20px 20px 0px 0px rgba(0,0,0,1);
  padding: 1em 1em 2em 1em;
  background: #ee864c;
background: radial-gradient(circle farthest-side at center center, #ee854ccc 0%, #ffffff 70%);
background: -webkit-radial-gradient(circle farthest-side at center center, #ee864c 0%, #ffffff 70%);
background: -moz-radial-gradient(circle farthest-side at center center, #ee864c 0%, #ffffff 70%);
  }

.clientimg { 
  grid-area: clientimg; 

}
.selfie{
  width: 15em;
  transform: translateX(-40%) translateY(-50%);
  border-radius: 60%;
  border: thick solid black;
  box-shadow: 0px 0px 0px 26px rgb(253, 253, 253);
  -webkit-box-shadow: 0px 0px 0px 26px rgb(255, 255, 255);
  -moz-box-shadow: 0px 0px 0px 26px rgb(255, 255, 255);;
}
.mailerform { 
  grid-area: mailerform;
  
 }
 /* footer code bc the external css i made didnt work with the java so this is a quick fix, i wanted it to be sticky */
footer{
  width: 90%;
  border: white 3px solid;
  background-color: black;
  padding: 1em 1em 1em 1em;
  list-style: none;
  text-align: center;
  text-decoration: none;
  font-size: 1.5em;
margin-left: 2em;
  box-shadow: -17px 19px 0px 2px #eb7530;
-webkit-box-shadow: -17px 19px 0px 2px #eb7530;
-moz-box-shadow: -17px 19px 0px 2px #eb7530;

}
#foot-links{
  display: inline-flex;
}
.fa{
  background: black;
  color: white;
  padding: 1em 1em 1em 1em;
}
.fa:hover {
  border:#eb7530 2px solid;
  border-radius: 100%;
}
#copy{
  font-size: 0.7em;
  color: rgba(240, 248, 255, 0.507);
  font-family: 'Space Mono';
}
#quicklinks{
  display: inline-flex;
  list-style: none;
  color: white;
  font-family: 'Space Mono';
  font-size:0.5em;
  padding: 1em 1em 1em 1em;
}
.quicks{
  padding: 1em 1em 1em 1em;
  font-size: 1em;
  color: white;
  font-family: 'Space Mono';
}
.quicks:hover{
  color: #eb7530;
}
