.fttabs {
  
    box-sizing: border-box;
    padding-top: 10vh;
    font-family: 'Space Mono', sans-serif;
    font-weight: 300;
    line-height: 1.5;
    max-width: 60rem;
    margin: 0 auto;
    font-size: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .tabs {
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 500px;
  }
   
  .tabs label {
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    margin-right: 0.2rem;
    font-family: 'NotoSansSemiCondensedThin';
      font-style: italic;
      letter-spacing: 0.2em;
    cursor: pointer;
    background-color: rgb(255, 138, 92);
    font-weight: bold;
    transition: background ease 0.3s;
    border: 5px solid #eb7530;
    border-bottom: hidden;
  }
   
  .tabs .tab {
    order: 9;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    display: none;
    padding: 1rem;
    background: #fff;
    padding: 20px;
    border: 5px solid #eb7530;
    border-top: hidden;
    box-shadow: -15px 20px 0px black;
  }
   
  .tabs input[type="radio"] {
    display: none;
  }
   
  .tabs input[type="radio"]:checked + label {
    background: #fff;
  }
   
  .tabs input[type="radio"]:checked + label + .tab {
    display: block;
  }
   
  @media (max-width: 465px) {
    .tabs .tab,
    .tabs label {
     order: initial;
    }
   
    .tabs label {
      width: 100%;
      margin-left: 50px;
    }
  }